html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
  
#root {
    height: 100vh;
}
  
.background-image {
    background-image: url('../src/assets/fondo_web.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
}